@font-face {
  font-family: eyestrain;
  src: url("../fontawesome/webfonts/Comfortaa-VariableFont_wght.ttf");
}

* {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  display: block;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: eyestrain;
  overflow: auto;
  background: url("../img/logo/photo-1542473898-1a0a3de71f34.jfif") no-repeat center center fixed;
  background-size: cover;
}

.activeUser {
  background: #306EFF;
  color: #FFF;
  text-align: center;
  margin: auto;
}

.activeUser span {
  color: #0F0;
}

.activeUser p {
  margin: 0px;
  padding: 5px;
}

nav {
  margin-top: 2%;
  padding: 10px;
}

nav ul.mnuLst {
  margin: 0px;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav ul.mnuLst li {
  margin-left: 15px;
}

nav ul.mnuLst li a img {
  height: 80px;
  width: 80px;
  transition: all .2s ease-out;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -ms-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
}

nav ul.mnuLst li a img:hover {
  transform: scale(1.3, 1.3);
  -webkit-transform: scale(1.3, 1.3);
  -moz-transform: scale(1.3, 1.3);
  -ms-transform: scale(1.3, 1.3);
  -o-transform: scale(1.3, 1.3);
}

.formDiv {
  padding: 10px;
}

form {
  margin-top: 2%;
  padding: 10px;
  text-align: center;
}

form input[type="text"] {
  border: none;
  width: 45%;
  padding: 15px 40px;
  outline: none;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background-image: url("../img/icon/searchy.png");
  background-repeat: no-repeat;
  background-position: 12px 13px;
  font-size: 1em;
}

table.tableOne,
table.tableOne td,
table.tableOne tr.rowHead {
  border-bottom: 1px SOLID #246ac5;
  border-collapse: collapse;
  padding: 11px 0;
}

table.tableOne {
  width: 40%;
  margin: auto;
}

table.tableOne tr.rowHead {
  background: #246ac5;
  text-transform: uppercase;
  padding-top: 20px;
  color: #FFF;
}

tr.result:nth-child(odd) {
  background: #8ba8e7;
}

tr.result:hover {
  background: #e60cc2;
  cursor: pointer;
  color: #FFF;
}

tr.result td a {
  text-decoration: none;
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 1.3px;
}

footer {
  width: 100%;
  text-align: center;
}

footer p {
  position: fixed;
  bottom: 0px;
  width: 100%;
  margin: 0px;
  padding: 5px;
  text-shadow: 1px 1px 5px #FFF;
}

#wrapper2 {
  margin: 0px;
  padding: 0px;
  color: #FFF;
  background: url("../img/logo/logout.jfif") no-repeat center center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

#wrapper2 .logoutMes {
  margin-top: 5%;
  color: #FFF;
  text-align: center;
  width: 90%;
  padding: 10px;
}

#wrapper2 .logoutMes h1 {
  text-shadow: 1px 1px 2px #000, 2px 2px 30px #FFF, 2px 2px 2px #000;
  color: #FFFF00;
  font-weight: bold;
}

#wrapper2 .logoutMes a {
  text-decoration: none;
  color: #FFF;
  font-weight: bold;
}

#wrapper2 .logoutMes a:hover {
  color: blue;
  text-decoration: underline;
}
/*# sourceMappingURL=front_decor.css.map */